#virtualenv

llama-index
gdown
openai
rich
PyMuPDF
pypdf
python-docx
sentence-transformers
llama-index-embeddings-huggingface
llama-index-readers-web
llama-index-readers-youtube-transcript
llama-index-llms-azure-openai



numpy==1.26.4

#webserver

flask
flask-cors



#speech-to-speech

soundfile
#sounddevice 
#websockets 
#simpleaudio 
#numpy 
aiohttp


torchaudio